azure_data_factory/copiar_all_tables/copiar_all_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"AzureDatabricksJob":{"type":"string"},"onpremise_sqls":{"type":"string"},"adlsalrp":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/copiar_all_tables')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Look All Tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT\n\ts.name AS SchemaName,\n\tt.name AS TableName\nFROM sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id = s.schema_id\nWHERE s.name = 'Sales';","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"SQLSTables","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach Scherma Table","type":"ForEach","dependsOn":[{"activity":"Look All Tables","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Look All Tables').output.value","type":"Expression"},"activities":[{"name":"Copy Tables","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"sqlscopy","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"parquet_table","type":"DatasetReference","parameters":{"schemaname":{"value":"@item().SchemaName","type":"Expression"},"tablename":{"value":"@item().TableName","type":"Expression"}}}]}]}},{"name":"Bronze_to_silver","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEach Scherma Table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/bronze_to_silver"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksJob')]","type":"LinkedServiceReference"}},{"name":"silver_to_gold","type":"DatabricksNotebook","dependsOn":[{"activity":"Bronze_to_silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/silver_to_gold"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricksJob')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-01-26T23:14:18Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SQLSTables')]","[concat(variables('factoryId'), '/datasets/sqlscopy')]","[concat(variables('factoryId'), '/datasets/parquet_table')]"]},{"name":"[concat(parameters('factoryName'), '/SQLSTables')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('onpremise_sqls')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/sqlscopy')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('onpremise_sqls')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/parquet_table')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('adlsalrp')]","type":"LinkedServiceReference"},"parameters":{"schemaname":{"type":"string"},"tablename":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@{concat(dataset().tablename, '.parquet')}","type":"Expression"},"folderPath":{"value":"@{concat(dataset().schemaname, '/', dataset().tablename)}","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}